{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": 0,
    "react/destructuring-assignment": 0,
    "quotes": [2, "double"],
    "react/prop-types": [0],
    "comma-dangle": [0, "always-multiline"],
    "no-underscore-dangle": 0,
    "camelcase": [0],
    "max-len": [1, 180, 4],
    "arrow-body-style": [0],
    "react/jsx-no-bind": [0],
    "import/no-unresolved": [0],
    "no-use-before-define": 0,
    "no-nested-ternary": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "no-plusplus": "off",
    "class-methods-use-this": "off",
    "react/forbid-prop-types": "off",
    "no-console": ["warn", { "allow": ["debug", "error"] }],
    "linebreak-style": "off",
    "react/jsx-props-no-spreading": 0,
    "import/prefer-default-export": "off",
    "react/jsx-fragments": 0
  }
}
